/* Add border-radius to everything and use :not to replace !important. */
* :not(
  .bracket-match,
  .codicon-chrome-minimize,
  .codicon,
  .core-guide-indent,
  .core-guide,
  .cslr,
  .cursor-line-style,
  .cursor-smooth-caret-animation,
  .cursor-solid,
  .cursors-layer,
  .editor-actions,
  .has-selection,
  .monaco-list-row,
  .monaco-mouse-cursor-text,
  .monaco-scrollable-element .scrollbar.horizontal .slider,
  .monaco-scrollable-element .scrollbar.horizontal,
  .monaco-scrollable-element .scrollbar.vertical .slider,
  .monaco-scrollable-element .scrollbar>.slider,
  .selected-text,
  .tabs-container > .tab,
  .tabs,
  .title-actions,
  .top-right-radius,
  .view-line,
  .view-lines,
  .window-icon,
  .window-minimize,
  .windows, 
  .wordHighlight,
  #workbench\.parts\.editor > div.content > div.grid-view-container > div > div > div > div.monaco-scrollable-element > div.split-view-container > div > div > div.editor-container > div > div > div.overflow-guard > div.minimap.slider-mouseover > div.minimap-shadow-visible,
  #workbench\.parts\.editor > div.content > div.grid-view-container > div > div > div > div.monaco-scrollable-element > div.split-view-container > div > div > div.editor-container > div > div > div.overflow-guard > div.minimap.slider-mouseover > div.minimap-slider,
  #workbench\.parts\.editor > div.content > div.grid-view-container > div > div > div > div.monaco-scrollable-element > div.split-view-container > div > div > div.editor-container > div > div > div.overflow-guard > div.minimap.slider-mouseover,
  #workbench\.parts\.editor > div.content > div.grid-view-container > div > div > div > div.monaco-scrollable-element > div.split-view-container > div > div > div.title.tabs.show-file-icons > div.tabs-and-actions-container > div.editor-actions > div > div > ul > li:nth-child(2) > div > div > a,
  #workbench\.parts\.editor > div.content > div.grid-view-container > div > div > div > div.monaco-scrollable-element > div.split-view-container > div > div > div.title.tabs.show-file-icons > div.tabs-and-actions-container > div.editor-actions > div > div > ul > li.action-item.menu-entry > a,
  #workbench\.parts\.editor > div.content > div.grid-view-container > div > div > div > div.monaco-scrollable-element > div.split-view-container > div > div > div.title.tabs.show-file-icons > div.tabs-and-actions-container > div.monaco-scrollable-element,
  #workbench\.parts\.editor > div.content > div.grid-view-container > div > div > div > div.monaco-scrollable-element > div.split-view-container > div > div > div.title.tabs.show-file-icons,
  #workbench\.parts\.panel > div.composite.title,
  #workbench\.parts\.titlebar, 
  body > div.file-icons-enabled.enable-motion.monaco-workbenXch.windows.chromium.noauxiliarybar.nostatusbar.maximized.vs-dark.vscode-theme-defaults-themes-dark_plus-json > div.monaco-grid-view > div > div > div.monaco-scrollable-element > div.split-view-container > div:nth-child(3) > div > div > div.monaco-scrollable-element > div.split-view-container > div:nth-child(3) > div > div > div.sash-container > div,
  div.cursor,
  div.editor-widget.parameter-hints-widget,
  div.editor-widget.suggest-widget,
  div.explorer-viewlet div.pane-body,
  div.indent-guide.active,
  div.monaco-hover,
  div.monaco-tl-indent,
  div.quick-input-widget,
  div.quick-input-widget .quick-input-header .monaco-inputbox,
  div.quick-input-widget .quick-input-header .monaco-inputbox.synthetic-focus,
  div.quick-input-widget .quick-input-header,
  div.quick-input-widget .quick-input-list
  ) 
{
  border-radius: 5px !important;
}

/* 
README: 
These settings reproduce the inlining from Mac on Linux and Windows. 

Unfortunately, the code contains automatic padding so 
this is disabled by default. We need to find  a way around it. 

#workbench\.parts\.titlebar 
{
  display:     none;                      } 
  body                                    {  
  position:    fixed;
  height:      50px;
  transform:   scale(1, 1.05) !important; }
  body > div                              {
  margin-top: -30px !important;
}
*/

/* Central alignment for tabs in the tab container  */
.tabs 
{
  height:      55px !important; 
  padding-top: 10px !important;
}

/* Border radius for tabs. For practical reasons we do not extend them to the maximum width as libadwaita does.  */
.tabs-container > .tab 
{
  width:         100vh        !important;
  max-width:     fit-content  !important;
  border-radius: 5px          !important;
  margin-left:   5px          !important;
}

/* Border radius for tabs overflow. */
#workbench\.parts\.editor > div.content > div.grid-view-container > div > div > div > div.monaco-scrollable-element > div.split-view-container > div > div > div.title.tabs.show-file-icons > div.tabs-and-actions-container > div.monaco-scrollable-element
{
  border-radius: 5px !important;
}

/* Border radius for tabs container. */
#workbench\.parts\.editor > div.content > div.grid-view-container > div > div > div > div.monaco-scrollable-element > div.split-view-container > div > div > div.title.tabs.show-file-icons
{
  border-radius: 5px !important;
}

/* hides buttons from the tab container. */
.editor-actions 
{
  margin-right:  -50px !important; 
  pointer-events: none !important; } 
  #workbench\.parts\.editor > div.content > div.grid-view-container > div > div > div > div.monaco-scrollable-element > div.split-view-container > div > div > div.title.tabs.show-file-icons > div.tabs-and-actions-container > div.editor-actions > div > div > ul > li.action-item.menu-entry > a   {
  opacity:          0% !important; }
  #workbench\.parts\.editor > div.content > div.grid-view-container > div > div > div > div.monaco-scrollable-element > div.split-view-container > div > div > div.title.tabs.show-file-icons > div.tabs-and-actions-container > div.editor-actions > div > div > ul > li:nth-child(2) > div > div > a {
  opacity:          0% !important;
}

/* hides buttons from the tree explorer. */
.title-actions
{
  display: none !important;
}  

/* Adds a border radius to the scrollbars. */
.monaco-scrollable-element .scrollbar.vertical .slider    
{
  width:          5px !important;
  margin-left:    5px !important;                          } 
 
  /* 
  NOTE: Experimental margin to hide the horizontal scroll bar.
 .monaco-scrollable-element .scrollbar.horizontal          {
  margin-bottom: -5px !important;                          } 
  */

 .monaco-scrollable-element .scrollbar.horizontal .slider  {
  height:         5px !important;                          }
  
 .monaco-scrollable-element .scrollbar>.slider             {
  border-radius:  5px !important;
}

/* Adds a border radius to the explorer selection */
div.explorer-viewlet div.pane-body {
  padding-left:  10px !important; 
  padding-right: 10px !important;  }
 .monaco-list-row                  {
  border-radius: 5px  !important;
}

/*
 * Center and add a border radius to widgets
 */

div.quick-input-widget
{
  margin-top:       10%         !important; 
  border:           0px solid; 
  border-radius:    10px        !important;                                   }
  div.quick-input-widget .quick-input-list                                    {
  padding-left:     10px        !important; 
  padding-right:    10px        !important;                                   }
  div.quick-input-widget .quick-input-header                                  {
  padding:          6px         !important; 
  border-bottom:    0px solid   !important;                                   }
  div.quick-input-widget .quick-input-header .monaco-inputbox                 {
  padding-left:     8px         !important; 
  outline:          none        !important; 
  background-color: unset       !important;                                   }
  div.quick-input-widget .quick-input-header .monaco-inputbox.synthetic-focus {
  background-color: unset       !important;
}

div.monaco-hover
{ 
  padding:       0px 0px   !important; 
  border-radius: 4px       !important; 
  border:        0px solid !important; 
  box-shadow:  rgba(0, 0, 0, 0.36) 0px 0px 8px 2px; 
  top:           0px
}

div.editor-widget.suggest-widget
{
  padding:       4px 7px   !important; 
  border-radius: 4px       !important; 
  border:        0px solid !important; 
  box-shadow:  rgba(0, 0, 0, 0.36) 0px 0px 8px 2px; 
  top:           0px
}

div.editor-widget.parameter-hints-widget
{
  padding:       4px 7px    !important;  
  border-radius: 4px        !important; 
  border:        1px solid  !important; 
  box-shadow:  rgba(0, 0, 0, 0.36) 0px 0px 8px 2px;  
  top:           0px        !important;
}

/* Add a border radius to the cursors */
div.cursor 
{
  border-radius: 4px !important;
}

/* Add a border radius to bracket match */
.bracket-match 
{
  padding:       4px !important; 
  border-radius: 4px !important;
}

/* Add a border radius to minimap scroll */
#workbench\.parts\.editor > div.content > div.grid-view-container > div > div > div > div.monaco-scrollable-element > div.split-view-container > div > div > div.editor-container > div > div > div.overflow-guard > div.minimap.slider-mouseover > div.minimap-slider
{
  border-radius: 5px !important;
}

/* Add a border radius to word highlight */
.wordHighlight
{
  border-radius: 4px;
}

/* 
Background color of the editor's corners and panel.
This must be changed manually depending on your theme.
*/

#workbench\.parts\.editor > div.content > div.grid-view-container > div > div > div > div.monaco-scrollable-element > div.split-view-container > div > div
{
  background-color: #252526 !important;
}

#workbench\.parts\.panel
{
  background-color: unset !important;
}

#workbench\.parts\.panel > div.composite.title
{
  border-top-color: #252526 !important;
  background-color: #252526 !important;
  border-radius:         10px !important;
}
