#workbench\.parts\.editor
  > div.content
  > div.grid-view-container
  > div
  > div
  > div
  > div.monaco-scrollable-element
  > div.split-view-container
  > div
  > div
  > div.title.tabs.show-file-icons
  > div.tabs-and-actions-container
{
  min-height:     26px;
  padding-top:     5px;
  padding-bottom:  5px;
}

#workbench\.parts\.editor
  > div.content
  > div.grid-view-container
  > div
  > div
  > div
  > div.monaco-scrollable-element
  > div.split-view-container
  > div
  > div
  > div.title.tabs.show-file-icons
  > div.tabs-and-actions-container
  > div.monaco-scrollable-element
  > div.tabs-container
  > div.tab
{
  transition:    background 150ms ease-in-out;
  flex-grow:     1   !important; 
  border-radius: 6px !important;
  margin-left:   5px !important;
}

#workbench\.parts\.editor
  > div.content
  > div.grid-view-container
  > div
  > div
  > div
  > div.monaco-scrollable-element
  > div.split-view-container
  > div
  > div
  > div.title.tabs.show-file-icons
  > div.tabs-and-actions-container
  > div.monaco-scrollable-element
  > div.tabs-container
  > div.tab .tab-label
{
  flex:   0      !important;
  margin: 0 auto !important;
}

#workbench\.parts\.editor
  > div.content
  > div.grid-view-container
  > div
  > div
  > div
  > div.monaco-scrollable-element
  > div.split-view-container
  > div
  > div
  > div.title.tabs.show-file-icons
{
  padding-right: 5px !important;
}

/* 
===========================================================
Experimental.
=========================================================== 
*/

div.cursor
{
  border-radius: 4px !important;
}

.bracket-match
{
  padding:       4px !important;
  border-radius: 4px !important;
}

#workbench\.parts\.editor 
  > div.content 
  > div.grid-view-container 
  > div 
  > div 
  > div 
  > div.monaco-scrollable-element 
  > div.split-view-container 
  > div 
  > div 
  > div.editor-container 
  > div 
  > div 
  > div.overflow-guard 
  > div.minimap.slider-mouseover 
  > div.minimap-slider
{
  border-radius: 4px !important;
}

.wordHighlight
{
  border-radius: 4px;
}

div.monaco-hover
{
  padding:       0px 0px   !important;
  border-radius: 4px       !important;
  border:        0px solid !important;
  box-shadow:    rgb(0 0 0 / 16%) 0px 0px 8px 2px;
  top:           0px
}

div.editor-widget.suggest-widget
{
  padding:       4px 7px   !important;
  border-radius: 4px       !important;
  border:        0px solid !important;
  box-shadow:    rgb(0 0 0 / 16%) 0px 0px 8px 2px;
  top:           0px
}

div.editor-widget.parameter-hints-widget
{
  padding:       4px 7px    !important;
  border-radius: 4px        !important;
  border:        1px solid  !important;
  box-shadow:    rgb(0 0 0 / 16%) 0px 0px 8px 2px;
  top:           0px        !important;
}

div.quick-input-widget
{
  margin-top:    10%         !important;
  border:        0px solid;
  border-radius: 10px        !important;                                   
}

div.quick-input-widget .quick-input-list                                    
{
  padding-left:  10px  !important;
  padding-right: 10px  !important;                                   
}

div.quick-input-widget .quick-input-header                                  
{
  padding:       6px       !important;
  border-bottom: 0px solid !important;                                   
}

div.quick-input-widget .quick-input-header .monaco-inputbox                 
{
  padding-left:     8px   !important;
  outline:          none  !important;
  background-color: unset !important;                                   
}

div.quick-input-widget .quick-input-header .monaco-inputbox.synthetic-focus 
{
  background-color: unset !important;
}

div.explorer-viewlet div.pane-body 
{
  padding-left:  10px !important;
  padding-right: 10px !important;  
}

.monaco-list-row                  
{
  border-radius: 5px !important;
}

.monaco-scrollable-element .scrollbar.vertical .slider
{
  width:       5px !important;
  margin-left: 5px !important;                          
}

.monaco-scrollable-element .scrollbar.horizontal .slider   
{
  height: 5px !important;                          
}

.monaco-scrollable-element .scrollbar>.slider              
{
  border-radius: 5px !important;
}
